.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/panorama_0.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1396px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 29px 235px 0 267px}
.u-section-1 .u-text-2 {font-weight: 700; font-size: 1.875rem; width: 691px; margin: -4px auto 0}
.u-section-1 .u-btn-1 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; animation-duration: 1000ms; letter-spacing: normal; margin: 375px auto 0; padding: 9px 95px 11px}
.u-section-1 .u-shape-1 {width: 355px; height: 317px; background-image: none; margin: -300px auto 0 0}
.u-section-1 .u-btn-2 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; animation-duration: 1000ms; letter-spacing: normal; margin: -63px auto 0 42px; padding: 9px 72px 11px 71px}
.u-section-1 .u-text-3 {font-size: 2.25rem; font-weight: 700; background-image: none; font-style: italic; margin: -285px 818px 0 32px}
.u-section-1 .u-shape-2 {width: 355px; height: 317px; background-image: none; margin: -230px auto 0 388px}
.u-section-1 .u-text-4 {font-style: italic; font-weight: 700; font-size: 2.25rem; width: 292px; margin: -281px 424px 0}
.u-section-1 .u-shape-3 {width: 355px; height: 317px; background-image: none; margin: -231px 2px 0 auto}
.u-section-1 .u-text-5 {font-style: italic; font-weight: 700; margin: -281px 13px 0 813px}
.u-section-1 .u-btn-3 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; animation-duration: 1000ms; letter-spacing: normal; margin: 32px 49px 60px auto; padding: 10px 98px 10px 97px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 1151px}
.u-section-1 .u-text-1 {width: 696px; margin-top: 52px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-2 {width: 680px; margin-left: 130px; margin-right: 130px}
.u-section-1 .u-btn-1 {margin-top: 377px; padding: 10px 71px 10px 69px}
.u-section-1 .u-shape-1 {width: 293px; margin-top: -370px}
.u-section-1 .u-btn-2 {margin-top: 7px; margin-left: 40px; padding: 10px 44px 10px 42px}
.u-section-1 .u-text-3 {width: auto; margin-top: -355px; margin-right: 669px}
.u-section-1 .u-shape-2 {width: 293px; margin-left: 324px}
.u-section-1 .u-text-4 {width: 241px; margin-top: -289px; margin-left: auto; margin-right: auto}
.u-section-1 .u-shape-3 {width: 293px; margin-top: -262px; margin-right: 0}
.u-section-1 .u-text-5 {width: auto; margin-top: -288px; margin-right: 31px; margin-left: 678px}
.u-section-1 .u-btn-3 {margin-top: 79px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 862px}
.u-section-1 .u-text-1 {margin-top: 0; margin-left: 12px; margin-right: 12px}
.u-section-1 .u-text-2 {margin-top: -11px; margin-left: 20px; margin-right: 20px}
.u-section-1 .u-btn-1 {margin-top: 329px}
.u-section-1 .u-shape-1 {width: 239px; margin-top: -375px; margin-left: 1px}
.u-section-1 .u-btn-2 {margin-top: 12px; margin-left: 20px}
.u-section-1 .u-text-3 {margin-top: -359px; margin-right: 480px; margin-left: 1px}
.u-section-1 .u-shape-2 {width: 239px; margin-top: -231px; margin-left: 241px}
.u-section-1 .u-text-4 {width: 226px; margin-top: -311px}
.u-section-1 .u-shape-3 {width: 239px; margin-top: -278px; margin-right: auto; margin-left: 482px}
.u-section-1 .u-text-5 {margin-top: -301px; margin-right: 1px; margin-left: 500px}
.u-section-1 .u-btn-3 {margin-top: 61px; margin-right: 18px; padding: 9px 68px 11px 67px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 2289px}
.u-section-1 .u-text-1 {width: 389px; margin-top: 40px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-2 {width: 540px; margin-top: -4px; margin-right: -20px}
.u-section-1 .u-btn-1 {margin-top: 835px; padding-left: 95px; padding-right: 95px}
.u-section-1 .u-shape-1 {margin-top: -795px; margin-left: 150px}
.u-section-1 .u-btn-2 {margin-top: 20px; margin-left: 164px}
.u-section-1 .u-text-3 {width: 239px; margin-top: -367px; margin-left: auto; margin-right: auto}
.u-section-1 .u-shape-2 {margin-top: 181px; margin-left: auto}
.u-section-1 .u-text-4 {margin-top: -303px}
.u-section-1 .u-shape-3 {margin-top: 106px; margin-left: 151px}
.u-section-1 .u-text-5 {width: 216px; margin-top: -296px; margin-left: auto; margin-right: auto}
.u-section-1 .u-btn-3 {margin-top: 44px; margin-right: auto; margin-left: 164px; padding-left: 73px; padding-right: 73px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1825px}
.u-section-1 .u-text-1 {width: 340px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {width: 340px; margin-top: 3px; margin-left: 0; margin-right: 0}
.u-section-1 .u-btn-1 {margin-top: 829px; padding: 9px 77px 11px 76px}
.u-section-1 .u-shape-1 {margin-top: -792px; margin-right: 50px; margin-left: auto}
.u-section-1 .u-btn-2 {margin-left: auto}
.u-section-1 .u-shape-2 {margin-top: 172px}
.u-section-1 .u-text-4 {width: 197px; font-size: 1.875rem; margin-top: -297px; margin-right: 72px; margin-left: 72px}
.u-section-1 .u-shape-3 {margin-top: 158px; margin-left: auto}
.u-section-1 .u-text-5 {margin-top: -297px}
.u-section-1 .u-btn-3 {margin-top: 169px; margin-left: auto; padding-right: 75px} }"&gt;